In [2]:
sub_file_name = "../submission/sub_180803_Ensemble_1.csv"

In [14]:
input_path = "../submission/"
file_name_list = ["sub_180803_03.csv", 
                  "sub_180803_03_seed2_mcs8.csv",
                  "sub_180803_03_seed3_mcs10.csv",
                  "sub_180803_03_seed4_mcs7.csv",
                  "sub_180803_03_seed5_mcs11.csv"
                 ]
target_name = "item_cnt_month"

### Install

In [4]:
### ver 180526
import time

import numpy as np
import pandas as pd
import os
import gc

#Viz
import seaborn as sns
import matplotlib.pyplot as plt

notebookstart = time.time()

### Cal Ave

In [21]:
df = pd.DataFrame()

for i, file in enumerate(file_name_list):
    temp_df = pd.read_csv(input_path + file)
    temp_df.rename(columns={target_name:target_name+str(i)}, inplace=True)
    
    if df.shape[0] == 0:
        df = temp_df
    else:
        df = pd.merge(df, temp_df, how="left", on ="ID")
        print("df Shape:{}, df columns:{}".format(df.shape, df.columns))

df Shape:(214200, 3), df columns:Index(['item_cnt_month0', 'ID', 'item_cnt_month1'], dtype='object')
df Shape:(214200, 4), df columns:Index(['item_cnt_month0', 'ID', 'item_cnt_month1', 'item_cnt_month2'], dtype='object')
df Shape:(214200, 5), df columns:Index(['item_cnt_month0', 'ID', 'item_cnt_month1', 'item_cnt_month2',
       'item_cnt_month3'],
      dtype='object')
df Shape:(214200, 6), df columns:Index(['item_cnt_month0', 'ID', 'item_cnt_month1', 'item_cnt_month2',
       'item_cnt_month3', 'item_cnt_month4'],
      dtype='object')

In [22]:
df.set_index("ID", inplace=True)
df[target_name] = df.mean(axis=1)
df.head()

,item_cnt_month0,item_cnt_month1,item_cnt_month2,item_cnt_month3,item_cnt_month4,item_cnt_month
ID,,,,,,
0,0.758708,0.821824,0.733160,0.918653,0.796614,0.805792
1,0.024335,0.086717,0.157448,0.195756,0.009448,0.094741
2,0.931585,0.904460,0.821043,1.000458,0.963168,0.924143
3,0.347202,0.380542,0.293978,0.326092,0.289759,0.327515
4,0.993433,1.207848,1.013102,1.176489,1.124691,1.103113

In [34]:
drop_list = df.columns.tolist()
drop_list.remove(target_name)
df.drop(drop_list, axis=1, inplace=True)
df.head()

    item_cnt_month
ID
0         0.805792
1         0.094741
2         0.924143
3         0.327515
4         1.103113

### Output

In [35]:
df.to_csv(sub_file_name, index=True, header=True)